/*Globales*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #8EAEC2;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

.contenedor h1,
p {
    text-align: center;
}

.contenedor p {
    color: gray;
}

/* Contenido principal */

.contenido-principal {
    text-align: center;
}

.contenedor {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
}

@media (max-width: 768px ) {
   .contenedor {
    width: 95%;
    margin-top: 15rem;
    
   }
}


